:root{
    --color--preta: black;
    --color--branco: white;
    --color--azul: #5196FF;
    --color--vede: #54F03B;
}

*{
    margin: 0px;
    padding: 0px;
    transition: all 2s;
    font-style: italic;
}

/* =======================================================================================
header
====================================================================================== */

header #cima, header #baixo, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #cima{
    margin: 20px;
    background-color: var(--color--branco);
}

header #cima nav a, main #como a{
    color: var(--color--preta);
}

header #baixo nav a{
    color: var(--color--branco);
    text-decoration: none;
    margin: 10px;
}

header #baixo nav a:hover, header #cima nav a:hover, footer nav a:hover{
    cursor: pointer;
    font-size: 20px;
}

header #baixo, footer{
    background-color: var(--color--preta);
}

header #baixo img{
    height: 100px;
    width: 100px;
}

header #baixo nav a:hover, header #cima nav a:hover{
    font-weight: bold;
}

.menu{
    display: none;
}

/* ============================================================================
main
================================================================================ */

main{
    background-image: url(../img/backgraund3.jpg);
    background-repeat: no-repeat; background-position: center center; background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color--branco);
}

main div {
    background-color: var(--color--preta);
    height: fit-content; width: 50vh;
    text-align: center;
    display: block;
    justify-items: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4) ;
}

main div input{
    display: block;
    margin: 0 auto 20px;
    text-align: center;
    background-color: rgba(225, 201, 201, 0.223);
}

h3{
    margin: 10px;
    font-size: 25px;
}

main p, main button{
    color: var(--color--branco);
    margin: 20px;
}

main button{
    background-color: var(--color--vede);
    border: none;
    border-radius: 10px; 
    padding: 10px;
}

main button:hover{
    background-color: green;
}

/* ======================================================================
footer
======================================================================= */

footer{
    height: 100%;
    padding: 50px;
    text-align: center;
}

footer p, footer nav a{
    color: var(--color--branco);
}
